@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

:root {
    --main-color: #fd4646 ;
    --text-color: #171427 ;
    --bg-color: #fff;
}
img{
    width: 100%;
}
body{
    color: var(--text-color);
}
.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
section {
    padding: 4rem 0 3rem;
    margin-top: 80px; 
}
.cart-img, .product-img {
    position: relative;
    z-index: 1; 
    border-radius: 20px;
}
.size-buttons{
    display: flex;
    gap: 0.4rem;
    margin-top: 0.8rem;
}
.size-btn{
    padding: 5px ;
    border: 1px solid var(--text-color);
    cursor: pointer;
}
.size-btn:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.4s;
}
.size-btn.active{
    background: var(--main-color);
    color: var(--bg-color);
}

#btn-top{
    margin-top: 2.4rem;
}

/*header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 1000;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    background-color: var(--bg-color);
    z-index: 10;
}
.logo{
    font-family: "Playfair Display", cursive;
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: 600;
}
#cart-icon {
    font-size: 1.8rem;
    cursor: pointer;
    position: relative; 
}
.cart-content {
    max-height: 300px; 
    overflow-y: auto; 
    margin-bottom: 20px; 
}

#cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    top: -8px;  /* Ajuste a posição vertical */
    right: -8px;  /* Ajuste a posição horizontal */
    transform: translate(50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Cart */
.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    max-height: 100vh; 
    min-height: 100vh;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.4s;
    overflow-y: auto; 
}
.cart.active{
    right: 0;
}

.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    padding: 5px;
}

.detail-box{
    display: grid;
    row-gap: 0.5rem;
}
.cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;
}
.section-title{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}
.shop{
    margin-top: 2rem ;
}
/*shop Content*/
.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
    width: 100%;
}
@media (min-width: 1800px) { 
    .shop-content {
    width: 60%;
    }
}
.product-box {
    position: relative;
}
.product-box:hover{
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: 0.4s;
}
.product-img{
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}
.cart-quantity{
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
}
.cart-remove{
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}
.cart-total {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--text-color);
    position: sticky;
    bottom: 0; 
    background-color: var(--bg-color);
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.total-price{
    margin-left: 0.5rem;
}
.btn-buy {
    display: block;
    margin: 1rem auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);  
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    position: sticky;
    bottom: 10px;
}
.btn-buy:hover{
    background: var(--text-color);
    transition: 0.4s;
}

#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8;
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-color);
}

.product-title{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.price{
    font-weight: 500;
}
.add-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}
.add-cart:hover{
    background: green;
    transition: 0.4s;
}
@media (max-widith: 1080px) {
    .nav{
        padding: 15px;
    }
    section{
        padding: 3rem 0 2rem;
    }
    .container{
        margin: 0 auto;
        width: 90%;
    }
    .shop-content{
        margin-top: 2rem !important;
    }
}